@import '~antd/dist/antd.css';

*, *:before, *:after {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.fixed_container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.fullscreen {
    display: flex;
    min-height: 100vh;
    padding: 20px 0;
}

.fullscreen__body {
    flex: 1 1 auto;
    max-width: 70%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_button{
    color: black;
    font-size: 22px;
    padding: 8px 30px;
    border: 2px solid #000;
    letter-spacing: 2px;
    transition: 0.5s;
    background-color: #BAC1F7BF;
}
.main_button:hover{
    border-color: #30F000;
    color: #30F000;
    background-color: #fff;
}